.currentWeatherSection {
    color: #fff;
    text-shadow: var(--text-shadow);
}

.currentDate {
    color: #ffffffb3;
}

.currentTemperature {
    font-size: 2rem;
}

.celsius, .fahrenheit {
    cursor: pointer;
}
