
.Forecast .forecast-style {
    text-align: center;
    border: 0.5px solid #fafafa0e;
    border-radius: 10px;
    padding: 20px;
    max-width: 70%;
}

.Forecast .forecast-style:hover {
    background-color:var(--hover-bg);
}

.Forecast .dateConfig {
    margin-bottom: -10px;
}

.Forecast .minmax {
    font-size: 0.8rem;
    color: #fafafa;
}

