:root {
    --text-shadow:  1px 1px 5px #000000ab;   
    --bg-gradient: linear-gradient(15deg, #5a1336, #3b093b, #041e35, #241830);
    --btn-gradient: linear-gradient(105deg, #5a13378f, #9e1a9e7a, #0d5ca171, #7a53a181);
}

* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--bg-gradient);
}